@charset "utf-8";
/* common.css */

  
/* overflow */
.overflow_a{overflow:auto!important;}
.overflow_x{overflow-x:auto;}
.overflow_y{overflow-y:auto;}
.overflow_h{overflow:hidden!important;}

.m0a{margin:0 auto;}
/* margin-top */
.mt0{margin-top:0px!important;}
.mt5{margin-top:5px!important;}
.mt8{margin-top:8px!important;}
.mt10{margin-top:10px!important;}
.mt11{margin-top:11px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px!important;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px!important;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px!important;}

.mtm1{margin-top:-1px;}

/* margin-right */
.mb0{margin-bottom:0px!important;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}

/* margin-left */
.ml0{margin-left:0!important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}

/* margin-right */
.mr0{margin-right:0px!important;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}

/* padding */
.pd5{padding:5px!important;}
.pd10{padding:10px!important;}
.pd60{padding:60px!important;}

/* padding-top */
.pdt0{padding-top:0!important;}
.pd0{padding:0!important;}
.pd2{padding:2px!important;}

/* padding-left */
.pdl20{padding-left:20px;}

/* width */
.w50{width:50px!important;}
.w55{width:55px!important;}
.w60{width:60px!important;}
.w65{width:65px!important;}
.w70{width:70px!important;}
.w75{width:75px!important;}
.w80{width:80px!important;}
.w85{width:85px!important;}
.w90{width:90px!important;}
.w95{width:95px!important;}
.w100{width:100px!important;}
.w105{width:105px!important;}
.w110{width:110px!important;}
.w115{width:115px!important;}
.w120{width:120px!important;}
.w125{width:125px!important;}
.w130{width:130px!important;}
.w135{width:135px!important;}
.w140{width:140px!important;}
.w145{width:145px!important;}
.w150{width:150px!important;}
.w155{width:155px!important;}
.w160{width:160px!important;}
.w165{width:165px!important;}
.w170{width:170px!important;}
.w175{width:175px!important;}
.w180{width:180px!important;}
.w185{width:185px!important;}
.w190{width:190px!important;}
.w195{width:195px!important;}
.w200{width:200px!important;}
.w205{width:205px!important;}
.w210{width:210px!important;}
.w215{width:215px!important;}
.w220{width:220px!important;}
.w225{width:225px!important;}
.w230{width:230px!important;}
.w235{width:235px!important;}
.w240{width:240px!important;}
.w245{width:245px!important;}
.w250{width:250px!important;}
.w378{width:378px;}
.w400{width:400px;}
.w1000{width:1000px!important;}

.w25p{width:25%!important;}
.w39p{width:39%!important;}
.w40p{width:40%!important;}
.w50p{width:50%!important;}
.w100p{width:100%!important;}

/* height */
.h40{height:40px!important;}
.h120{height:120px!important;}
.h200{height:200px!important;}
.h220{height:220px!important;}
.h230{height:230px!important;}
.h400{height:400px;}
.h500{height:500px!important;}

.mh300{max-height:300px!important;}
.mh500{max-height:620px!important;}
.h_auto{height:auto!important;}
.h100p{height:100%!important;}


/* vertical align */
.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.vb {vertical-align:bottom;}

/* text align */
.tl {text-align:left!important;}
.tc {text-align:center!important;}
.tr {text-align:right!important;}
.tj {text-align:justify!important;}

/* display */
.db {display:block !important;}
.dib {display:inline-block !important;}
.hide {display:none !important;}
/* .show{display:table-row;} */
/* .show{display:block;} */

/* elip */
.elips {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}

/* float */
.fl {float:left;}
.fr {float:right;}
.fn {float:none!important;}

/* font-weight */
.fwb{font-weight:bold!important;}

/* font-size */
.fs0{font-size:0;}

/* color */
.color_r{color:#e6541c!important;}
.color_g{color:#53af31!important;}
.color_o{color:#fd721f!important;}
.color_b{color:#303030!important;}
.color_b_02{color:#8f82bc!important;}
.gray{color:#777777;}
.color_p{color:#ab10e9;}

/* border */
.bdg{border:1px solid #53af31!important;}
.bdgray{border:1px solid #cecece!important;}
.btgray{border-top:1px solid #cecece!important;}
.bdlg{border-left:1px solid #dcdcdc;}
.bdn{border:none!important;}
.bdtn{border-top:none!important;}
.bdtg{border-top:1px solid #dcdcdc;}
.bdtg2{border-top:2px solid #a4a4a4;}
.bdln{border-left:none!important;}


/* text-decoration */
.txt_ul{text-decoration: underline;}

/* background */
.bgw{background:#ffffff!important;}
.bg_gray{background:#eeeeee;}
/* .orange{} */
.sub_bg_01{background:#e8e8e8;}
/* etc */
.csp {cursor:pointer;}

.clear {clear:both;}
/***** SET *****/

.bold{font-weight:bold;}


.point{color:#ef4153;}

/* placeholder color 제어 */
input:-ms-input-placeholder { color: #888888; }
/* Internet Explorer 10 이상에 적용 */

input::-webkit-input-placeholder { color: #888888; } 
 /* Webkit, Blink, Edge에 적용 */

input::-moz-placeholder { color: #888888; }
 /* Mozilla Firefox 4 부터 18에 적용 */

input::-moz-placeholder { color: #888888; }
/* Mozilla Firefox 19 이상에 적용 */


body.overflow_h{overflow:hidden;}

/*** wrap ***/
.wrap{width:100%;}
.wrap .w_in{width:100%; box-sizing:border-box;  position:relative;}




/*** 헤더 ***/
.header{width:100%;   position:fixed; height:73px; background:#ffffff; left:0; top:0; z-index:9; border-bottom:1px solid #f0f0f0;}
.header .h_in{max-width:1200px; margin:0 auto; height:100%; position:relative;}
.header .h_in.on{margin-left:500px;}
.header .h_in .main_logo{ display:inline-block; position:absolute; top:50%; left:0; transform:translateY(-50%);}
/** nav **/
.nav {height:100%;  width:750px;  display:block; margin:0 auto;}
.topnav{text-align:center; font-weight:bold;}
.topnav > a{color:#000000; font-size:20px; display:block; font-weight:900; margin:0 5px;}
/* .topnav > a:hover{color:#d3d3d3; } */
.navi_set{float: left; width:25%; height:100%; position: relative; }
.navi_set > .topnav{line-height:73px;}
.subnav{display:none; position: absolute; top: 72px; width: 255px; height: 515px; background-color: #aa8871; padding-top: 33px; padding-bottom: 33px; padding-left: 37px; padding-right: 20px; box-sizing: border-box; z-index:999999;}
.subnav::after{content: ''; display:inline-block; position: absolute; top:-9px; left:80px; width:18px; height: 18px; transform: rotate(45deg); background-color: #aa8871; }
.subnav > li{    margin-bottom: 20px;}
.subnav > li > a{display: inline-block; font-size: 20px;  font-weight: 400; color: #d2c4bc;}
.subnav > li > a:hover{color:#ffffff;}
.subnav_02{margin-top: 12px; padding-bottom: 12px;}
.subnav_02 > li:before{content: '-'; color: #afafaf; margin-right: 4px; position: relative; top: -3px;}
.subnav_02 > li > a{    display: inline-block; font-size: 17px; line-height: 23px; font-weight: 400; color: #d2c4bc; margin-bottom: 5px;}
.subnav_02 > li > a:hover{color:#ffffff;}



.btn_global{display:block; position:absolute;  top:50%; right:15px; transform:translateY(-50%);}
.btn_lnb{display:none; position:absolute;  top:50%; right:15px; transform:translateY(-50%); }
.main_search_wrap{display:block; z-index:0; position: absolute; overflow: hidden; top:50%; transform:translateY(-50%); right: 85px; width:132px; height: 60px; border:2px solid transparent; box-sizing: border-box; padding-left:28px; padding-right:10px; border-radius: 30px; transition: all 0.3s;}
.main_search_wrap .search_con{position:relative; width:100%; display: block; margin-bottom: 0; margin-top: 13px; margin-left:56px; transition: margin-left 0.3s;}
.main_search_wrap .search_input{display:none; float: left; width:calc(100% - 100px); font-size: 22px; line-height: 38px; line-height: 3.8rem; letter-spacing: -0.065em; font-weight: 500; color:#000; border:none; }
.main_search_wrap .search_input::-webkit-input-placeholder{color:#afafaf;}
.main_search_wrap .search_btn_con{float:right;}
.main_search_wrap .search_icon{float:left; margin-top:0px; margin-right:19px;}
.main_search_wrap .close_icon{display:inline-block; float:left; width:38px; height:38px; margin-top: -4px; text-align: center; box-sizing: border-box; padding-top: 12px; background-color: #b29a74; border-radius: 50%;}
.main_search_wrap.active{z-index:3; right: 83px; width: 484px; border-color:#e8e9ea; background-color: #fff;}
.main_search_wrap.active .search_con{margin-left:0;}
.main_search_wrap.active .search_input{display: block; outline:none;}
.main_search_wrap.active .search_icon{margin-right: 19px;}
.menu_wrap{float: left; margin-top:1px;}
.menu_icon{}
.main_search_wrap .search_icon > a, .menu_icon > a{display: block;}







/*** 푸터 ***/
.footer{width:100%; overflow:hidden; background:#e6e6e6; height:110px;}
.footer .f_in{max-width:1200px; margin:0 auto; height:100%; margin:0 auto;   position:relative; padding:10px 0 0px 0;}
.footer .f_in.on{margin-left:500px;}
.footer .f_in .f_left{float:left;  }
.footer .f_in .f_left .f_about{ width:100%; position:relative; line-height:38px; }
.footer .f_in .f_left .f_about .f_logo{display:inline-block; margin-right:15px; vertical-align:-7%;}
.footer .f_in .f_left .f_about .f_rule{font-size:14px; color:#555555; margin:0 15px; display:inline-block; position:relative; font-family: 'Noto Sans KR';}
.footer .f_in .f_left .f_about .f_rule::before{position:absolute; content:''; display:inline-block; top:50%; transform:translateY(-50%); left:-15px; height:20px; width:1px; background:#999999;}
.footer .f_in .f_left .f_about .rel_site{width:150px; height:40px;  font-size:14px; background:none; border:none; border-bottom:2px solid #4ea257; outline:none; background: url(../img/ico_footer_sel_arrow.png) no-repeat 98%;  color:#4ea257;  font-family: 'Noto Sans KR'; margin-top:-4px;}
.footer .f_in .f_left .f_address{margin-top:0;}
.footer .f_in .f_left .f_address p{font-size:14px; color:#666666; line-height:22px;  font-family: 'Noto Sans KR'; display:inline-block; margin-right:20px;}
.footer .f_in .f_right{float:right; /*width:295px;*/ margin-top:0px;}
.footer .f_in .f_right .f_call{font-size:22px; font-weight:bold; color:#444444;  font-family: 'Noto Sans KR';}
.footer .f_in .f_right .f_call span{font-size:24px; font-weight:900; color:#4ea257; line-height:32px; margin-left:10px; vertical-align: -3%;}
.footer .f_in .f_right .f_call::before{content:''; display:inline-block; background:url(../img/ico_footer_phone.png) center no-repeat; width:22px; height:22px; margin-right:10px; vertical-align: -16%; background-size:cover;}
.footer .f_in .f_right .f_time{margin-top:5px; width:250px; border:1px solid #d2d2d2; text-align:center; font-size:14px; color:#666666; }
.footer .f_in .f_right .f_time li{height:25px; box-sizing:border-box; line-height:25px; font-family: 'Noto Sans KR';}
.footer .f_in .f_right .f_time li:first-child{background:#cbcbcb; border-bottom:1px solid #d2d2d2; }
.footer .f_in .f_right .f_time li:last-child{background:#ffffff;}

/*** 사이드바 ***/
/** 로그인전 **/
/* .sidebar{margin-left:-480px; width:35%; max-width:480px; min-width:380px; transition: margin-left 0.5s; height:100%;  position:fixed; top:0;  background:#f9fcf6; z-index:99999; box-shadow:2px 2px 9px #b1b1b1;} */
.sidebar{margin-left:-480px; width:35%; max-width:480px; min-width:380px; transition: margin-left 0.5s; height:100%;  position:fixed; top:0;  background:#f9fcf6; z-index:99999; box-shadow:2px 2px 9px #b1b1b1;}
.sidebar.open{margin-left:0px;}
.sidebar .sidebar_in{width :79%; height:850px; position:absolute;  top:50%; left:50%; transform:translateX(-50%) translateY(-50%);}
.comment{width:100%; display:block; }
.comment h4{font-family: 'S-CoreDream-8Heavy'; color:#444444; font-size:32px; font-weight:800; margin-top:10px;}

.log_box{width:100%; margin-top:38px;}
.log_box input{width:100%; height:54px; border-radius:5px; margin-bottom:16px; color:#969696; padding:0 30px;}
.log_box .btn_log{display:inline-block; width:100%; height:54px; border-radius:5px; background:#81b746; text-align:center; line-height:56px; font-size:20px; color:#ffffff; font-weight:700;}
.log_box .btn_about{display:inline-block; width:100%; height:54px; border-radius:5px; background:#81b746; text-align:center; line-height:56px; font-size:20px; color:#444444; background:#ffffff;  font-weight:700; border:1px solid #c3d8a5; margin-bottom:8px;}
.log_box .btn_out{display:inline-block; width:100%; height:54px; border-radius:5px; background:#81b746; text-align:center; line-height:56px; font-size:20px; color:#ffffff; font-weight:700; background:#555555;}
.log_box .chk_save{margin-top:25px;}
.log_box .chk_save input[type="checkbox"] + label{font-size:16px; color:#444444; line-height:18px;}
.log_box .chk_save input[type="checkbox"] + label span{display: inline-block; width: 24px; height: 24px; background: url(../img/chk_log_off.png)no-repeat; cursor: pointer;     vertical-align:sub; margin-right: 13px;}
.log_box .chk_save input[type="checkbox"]:checked + label span{display: inline-block; width: 24px; height: 24px; background: url(../img/chk_log_on.png)no-repeat; cursor: pointer;     vertical-align:sub; margin-right: 13px;}

.find_me{width:100%; display:flex; margin-top:40px;}
.find_me li{flex:1; text-align:center;}
.find_me li:first-child{text-align:center;}
.find_me li:nth-child(2){border-left:1px solid #777777; border-right:1px solid #777777; padding:0 20px;}
.find_me li:last-child{text-align:center;}
.find_me li a{display:inline-block; color:#777777; font-size:18px; font-weight:500; line-height:18px;}
.main_point{width:100%; overflow:hidden; display:inline-block; font-size:0; position:absolute; bottom:0; left:0; }
.main_point li{width:50%; display:block; float:left;text-align:right; height:65px;   margin-bottom:25px;}
.main_point li:nth-child(2n) a::before{margin-left:20px;}
.main_point li:nth-child(2n) a span{right:0; /* padding-left:40px; */}
.main_point li a{display:block; position:relative; width:100%; height:100%; }
.main_point li a::before{content:''; display:inline-block; position:absolute; width:65px; height:65px; background:url(../img/icon_mp_01.png) center no-repeat; top:50%; transform:translateY(-50%); left:0; background-size:cover!important;}
.main_point li.mp1 a::before{background:url(../img/icon_mp_01.png) center no-repeat;}
.main_point li.mp2 a::before{background:url(../img/icon_mp_02.png) center no-repeat;}
.main_point li.mp3 a::before{background:url(../img/icon_mp_03.png) center no-repeat;}
.main_point li.mp4 a::before{background:url(../img/icon_mp_04.png) center no-repeat;}
.main_point li.mp5 a::before{background:url(../img/icon_mp_05.png) center no-repeat;}
.main_point li.mp6 a::before{background:url(../img/icon_mp_06.png) center no-repeat;}
.main_point li a span{text-align:center; display:block; font-size:17px; color:#333333; line-height:22px; position:absolute; top:50%; transform:translateY(-50%); left: 70px; font-weight:700;}
.main_point li.mp5 a span, .main_point li.mp6 a span{font-weight:900;}
.btn_sidebar{display:block; width:40px; height:80px; background:#f9fcf6; border-top-right-radius:40px; border-bottom-right-radius:40px; position:absolute; top:50%; transform:translateY(-50%); right:-40px; box-shadow:5px 3px 5px #878585; }
.btn_sidebar::before{content:''; display:inline-block; position:absolute; background:url(../img/sidebar_arrow_open.png) center no-repeat; width:13px; height:25px; top:50%; top:50%; transform:translateY(-50%); right:20px; }
/* .btn_sidebar::after{content:''; display:inline-block; position:absolute; width:40px; height:84px; background:#f9fcf6; top:0; left:0; border-top-left-radius: 50px; border-bottom-left-radius: 50px;} */
/* .btn_sidebar_close{display:none; width:80px; height:80px; background:#f9fcf6; border-radius:40px; position:absolute; top:50%; transform:translateY(-50%); right:-40px;  box-shadow: 0px 2px 5px #b1b1b1;} */
.btn_sidebar_close{display:none; width:40px; height:80px; background:#f9fcf6; border-top-right-radius:40px; border-bottom-right-radius:40px; position:absolute; top:50%; transform:translateY(-50%); right:-38px;  box-shadow:5px 3px 5px #878585; }
.btn_sidebar_close::before{content:''; display:inline-block; position:absolute; background:url(../img/sidebar_arrow.png) center no-repeat; width:13px; height:25px; top:50%; top:50%; transform:translateY(-50%); right:20px; }
.btn_sidebar_close::after{content:''; display:none; position:absolute; width:50px; height:120px; background:#f9fcf6; top:-20px; left:-10px;   border-top-left-radius: 50px; border-bottom-left-radius: 50px;}


/** 로그인후 **/
.sidebar.after-log{background:#d6e3c9;}
.sidebar.after-log .btn_sidebar{background:#d6e3c9;}
.sidebar.after-log .btn_sidebar::after{background:#d6e3c9;}
.sidebar.after-log .btn_sidebar_close::after{background:#d6e3c9;}
.sidebar.after-log .btn_sidebar_close{background:#d6e3c9;}



/** 모바일메뉴 **/
.mobile_menu{position:fixed; width:100%; z-index:8; top:73px; left:100%;    height: calc(100% - 71px); overflow-y:auto;     z-index: 999999; border-top:1px solid #999999; transition: left 0.5s;}
.mobile_menu.active{left:0;}
.mobile_menu .lnb_box{z-index:99999; position:absolute; width:100%;}
.btn_lnb{display:none;}
#lnb h1 {height: 40px;text-align: center;color: #fff;font-size: 20px;line-height: 1.8; letter-spacing: -2px;}
#lnb > ul {}
#lnb > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > a {display: block; background:#ffffff; height:70px; line-height:70px; text-align:left; color:#303030; font-size:20px; position:relative;  font-weight:900; padding-left:20px;}
#lnb > ul > li > a::after{display:inline-block; content:""; background:url(../img/list_on_arrow.png) center no-repeat; width:21px; height:11px; right:20px; position:absolute; top:30px; background-size:cover;}
#lnb > ul > li.on > a{/*background: linear-gradient( to right, #a353c3, #6b53c3 );*/ background:#4ea257; color: #ffffff;}
#lnb > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/list_on_arrow_h.png) center no-repeat; width:21px; height:11px; right:20px; position:absolute; top:30px; background-size:cover;}
#lnb > ul > li > ul{display:none;}
#lnb > ul > li > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > ul > li > a {display: block; background:#ededed; height:50px; line-height:48px; text-align:left; color:#303030; font-size:18px; position:relative;  padding-left:40px; font-weight:bold;}
#lnb > ul > li > ul > li > a::after{display:inline-block; content:""; background:url(../img/list_on_arrow.png) center no-repeat; width:15px; height:7px; right:20px; position:absolute; top:20px; background-size:cover;}
#lnb > ul > li > ul > li.on > a{background:#e4e2e2; color: #303030; }
#lnb > ul > li > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/list_on_arrow_h.png) center no-repeat; width:15px; height:7px; right:20px; position:absolute; top:20px; background-size:cover;}
#lnb > ul > li > ul > li > ul{display:none;}
#lnb > ul > li > ul > li > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > ul > li > ul > li > a {display: block; background:#ffffff; height:50px; line-height:48px; text-align:left; color:#303030; font-size:16px; position:relative; padding-left:60px;}
/* #lnb > ul > li > ul > li > ul > li > a::after{display:inline-block; content:""; background:url(../img/depth_arrow.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}  */
#lnb > ul > li > ul > li > ul > li.on > a{background: linear-gradient( to right, #a353c3, #6b53c3 ); color: #ffffff;}
/* #lnb > ul > li > ul > li > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/depth_arrow_up.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;} */
#lnb > ul li.noDepth a::after {background-image: none !important; }
.dim{position:absolute; top:0; left:0; width:100%; height:100%; background:#030303; opacity:.8; z-index:2;}
.m_btn_close{display:none;   background:#ffffff; position: fixed; right: 15px; top:22px; width: 30px; height: 30px; z-index:9999;}
.m_btn_close:before{content:''; display:inline-block; width:15px; height:33px; background:#ffffff; position:absolute; left:-15px; top:0;  box-sizing:border-box;}
.m_btn_close img{width:100%;}
.mobile_menu.active .m_btn_close{display:inline-block;}

/** 전체메뉴 **/
.global_menu{position:fixed; width:100%; top:-750px; height:750px; background:#aa8871; z-index:999999; overflow:hidden; transition: top 0.5s;}
.global_menu .gnb_wrap{margin:0 auto; overflow:hidden; max-width:1200px; margin-top:60px;}
.global_menu .gnb_wrap > li > div > a{font-size: 22px; line-height: 34px; padding: 0;    padding-left: 9px; color: #fff;}
.global_menu .gnb_wrap > li{float: left; background-color: transparent; margin-right: 50px; border-bottom: none; padding-left: 0; padding-right: 0; }
.global_menu .gnb_wrap > li:last-child{margin-right:0;}
.global_menu .gnb_wrap > li > ul{display: block !important; width: 255px; margin-top: 28px; margin-bottom: 0; padding-left: 0; padding-right: 0;}
.global_menu .gnb_wrap > li > ul > li{padding-top: 16px; padding-bottom: 17px; padding-left: 10px; margin-bottom: 0; border-bottom: 1px solid rgba(255,255,255,0.1);}
.global_menu .gnb_wrap > li > ul > li > a{font-size:20px; color: #d2c4bc;}
.global_menu .gnb_wrap > li > ul > li > a:hover{color:#ffffff;}
.global_menu .gnb_wrap > li > ul > li > ul{    margin-top: 12px;}
.global_menu .gnb_wrap > li > ul > li > ul > li{margin-bottom:0;}
.global_menu .gnb_wrap > li > ul > li > ul > li:before{content: '-'; color: #afafaf; margin-right: 4px; position: relative; top: -3px;}
.global_menu .gnb_wrap > li > ul > li > ul > li > a{font-size: 17px; line-height: 23px; line-height: 2.3rem; font-weight: 400; color: #d2c4bc; margin-bottom: 5px;}
.global_menu .gnb_wrap > li > ul > li > ul > li > a:hover{color:#ffffff;}         
.btn_gm_up{position:absolute;  bottom:30px; left:50%; transform:translateX(-50%); }
.global_menu.active{top:0;}
      
/*** 테이블 ***/
/*테이블01*/
.table_type_01{width:100%; overflow:hidden; height:auto; box-sizing:border-box;}
.table_type_01 table{width:100%; table-layout: fixed; border-collapse:collapse;}
.table_type_01 table thead{border-bottom:2px solid #ab10e9;}
.table_type_01 table thead tr{ box-sizing:border-box; }
.table_type_01 table thead tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 5px; height:38px; box-sizing:border-box; }
.table_type_01 table tbody tr td{background:#ffffff;  border:1px solid #dcdcdc;  color:#303030; padding:5px 5px; height:38px; box-sizing:border-box; }

/* 테이블01 모바일*/
.table_type_01_m{width:100%; overflow:hidden; box-sizing:border-box; border-top:2px solid #ab10e9;}
.table_type_01_m table{width:100%; overflow:hidden; border-bottom:1px solid #e2e2e2;}
.table_type_01_m table tbody tr td{padding:0;}
.table_type_01_m table thead tr td{padding:0;}
.table_type_01_m table tbody tr td .table_info{padding:15px; box-sizing:border-box; overflow:hidden;}
.table_type_01_m table tbody tr td .table_info .profile_box{width:100%; height:auto; overflow:hidden; background:#ffffff; box-sizing:border-box;}
.table_type_01_m table tbody tr td .table_info .profile_box li{float:left; width:50%;  box-sizing:border-box; overflow:hidden; height:auto; }
.table_type_01_m table tbody tr td .table_info .profile_box li img{width:100%; height:100%;}
.table_type_01_m table tbody tr td .table_info .profile_box.devide_3_7{border-bottom:1px solid #e2e2e2;}
.table_type_01_m table tbody tr td .table_info .profile_box.devide_3_7 .de1{width:30%; box-sizing:border-box; margin:0; height:176px;}
.table_type_01_m table tbody tr td .table_info .profile_box.devide_3_7 .de2{width:70%; box-sizing:border-box; padding:10px; height:176px;}
.table_type_01_m table tbody tr td .table_info .profile_box.devide_3_7 .de2 .txt_01{line-height:22px;}
.table_type_01_m table tbody tr td .table_info .figure_box{width:100%; padding:15px 5px 15px 5px; box-sizing:border-box; overflow:hidden; background:#eeeeee; text-align:center; font-size:0;}
.table_type_01_m table tbody tr td .table_info .figure_box li{display:inline-block; width:33.3%;  box-sizing:border-box; padding:0 5px;}
.table_type_01_m table tbody tr td .table_info .figure_box li p{text-align:center; color:#303030; font-size:15px;}
.table_type_01_m table tbody tr td .table_info .figure_box li .ip_type_01{width:90%; margin:0 auto; margin-top:10px; }
.table_type_01_m table tbody tr td .table_info .figure_box li .date_box{margin-top:10px; width:100%!important; }
.table_type_01_m table tbody tr td .table_info .txt_01{line-height:26px;}

/*테이블02*/
.table_type_02{width:100%; overflow:hidden; height:auto;}
.table_type_02 table{width:100%;  table-layout: fixed; border-collapse:collapse;}
.table_type_02 table thead{border-bottom:2px solid #ab10e9;}
.table_type_02 table thead.bdn{border-bottom:1px solid #dcdcdc;}
.table_type_02 table thead tr{ box-sizing:border-box; }
.table_type_02 table thead tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 20px; height:38px; box-sizing:border-box; }
.table_type_02 table tbody tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 20px; height:38px; box-sizing:border-box; }
.table_type_02 table tbody tr td{background:#ffffff;  border:1px solid #dcdcdc;  color:#303030; padding:14px 20px; height:38px; box-sizing:border-box; }
.txt_01{color:#303030; font-size:15px; line-height:22px;}
.txt_02{color:#8f82bc; font-size:15px; line-height:15px; }
.txt_03{color:#232323; font-size:15px; line-height:18px; }
.txt_04{color:#232323; font-size:16px; line-height:15px; }
.table_type_01.ver2 table tbody tr td{padding:5px 5px;}
.table_type_01.ver2 table tbody tr td .txt_01{line-height:22px;}
.table_type_01.ver2 table tbody tr td .txt_02{line-height:22px;}
.t_img{width:100%; box-sizing:border-box; border:1px solid #dcdcdc; font-size:0;}
.t_img img{width:100%; height:100%;}

/*테이블03*/
.table_type_03{width:100%; overflow:hidden; height:auto; box-sizing:border-box; border-top:2px solid #ab10e9;}
.table_type_03 table{width:100%; table-layout: fixed; border-collapse:collapse;}
.table_type_03 table thead{border-bottom:2px solid #ab10e9;}
.table_type_03 table thead tr{ box-sizing:border-box; }
.table_type_03 table thead tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 5px; height:38px; box-sizing:border-box; }
.table_type_03 table tbody tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 5px; height:38px; box-sizing:border-box; }
.table_type_03 table tbody tr td{background:#ffffff;  border:1px solid #dcdcdc;  color:#303030; padding:5px 5px; height:38px; box-sizing:border-box; }

/*테이블04*/
.table_type_04{width:100%; overflow:hidden; height:auto; box-sizing:border-box;}
.table_type_04 table{width:100%; table-layout: fixed; border-collapse:collapse;}
.table_type_04 table thead{border-bottom:2px solid #ab10e9;}
.table_type_04 table thead tr{ box-sizing:border-box; }
.table_type_04 table thead tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 5px; height:38px; box-sizing:border-box; }
.table_type_04 table tbody tr th{background:#eeeeee;  border:1px solid #dcdcdc;  color:#303030; font-size:15px; font-weight:bold; padding:14px 5px; height:38px; box-sizing:border-box; }
.table_type_04 table tbody tr td{background:#ffffff;  border:1px solid #dcdcdc;  color:#303030; padding:5px 5px; height:38px; box-sizing:border-box; }
.table_type_04 table tfoot tr th{background:#ffffff;  border:1px solid #dcdcdc;  color:#303030; padding:5px 5px; height:38px; box-sizing:border-box; font-weight:bold;}
.table_type_04 table tfoot tr td{background:#ffffff;  border:1px solid #dcdcdc;  color:#303030; padding:5px 5px; height:38px; box-sizing:border-box; font-weight:bold;}

/*테이블05(게시판테이블)*/
.table_type_05{width:100%; overflow:hidden; height:auto; box-sizing:border-box; border-top:1px solid #dcdcdc;}
.table_type_05 table{width:100%; table-layout: fixed; border-collapse:collapse;}
.table_type_05 table thead{border-bottom:2px solid #ab10e9;}
.table_type_05 table thead tr{ box-sizing:border-box; }
.table_type_05 table thead tr th{background:#eeeeee;  color:#303030; font-size:16px; font-weight:bold; padding:6px 20px; height:38px; box-sizing:border-box; line-height: 28px;}
.table_type_05 table tbody tr{box-sizing:border-box; border-bottom:1px solid #dcdcdc;}
.table_type_05 table tbody tr th{background:#ffffff;  color:#303030; font-size:15px; font-weight:bold; padding:14px 20px; height:38px; box-sizing:border-box; position:relative;}
.table_type_05 table tbody tr td{background:#ffffff;  color:#303030; padding:14px 20px; height:38px; box-sizing:border-box; }
.table_type_05 table tbody tr td .txt_01{line-height:24px;}





/*** top button ***/
.btn-top{display:none; width:50px; height:50px; background:#666666; color:#000000; font-size:16px; position:fixed; line-height:50px; text-align:center; color:#ffffff; font-weight:bold; top:50%; right:0;}
.btn-top.on{bottom:30px;}


@media screen and (max-width: 1750px) {
	
}

@media screen and (max-width: 1650px) {
	
}

@media screen and (max-width: 1450px) {
   .header .h_in.on{margin-left:0px!important;}
   .footer .f_in.on{margin-left:0px!important;}   
}

@media screen and (max-width: 1200px) {
   .global_menu .gnb_wrap > li{margin-right:20px;}

}

@media screen and (max-width: 1140px) {
   .nav{display:none;}
   .btn_global{display:none;}
   .btn_lnb{display:block;}
   .h_search_box{display:none;}

   .sidebar{margin-left:-380px; width:380px; transition: margin-left 0.5s; height:100%;  position:fixed; top:0;  background:#f9fcf6; z-index:99999; box-shadow:2px 2px 9px #b1b1b1;}
   .sidebar.open{margin-left:0px;}
   .sidebar .sidebar_in{width :85%; height:850px; position:absolute;  top:50%; left:50%; transform:translateX(-50%) translateY(-50%);}
   .find_me li a{font-size:15px;}
   .main_point li a::before{width:50px; height:50px;}
   .main_point li a span{font-size:14px;}


   /** 배너 **/
   #sb_box li a img{width:90%;}

   /** 푸터 **/
   .footer{height:auto; padding:0 10px;}
   .footer .f_in .f_right{float:unset;  width:100%; text-align:center;}
	.footer .f_in .f_left{float:unset; width:100%; text-align:center; margin-top:20px;}
   .footer .f_in .f_left .f_about .f_logo{width:100%; text-align:center; margin-right:0;}
   .footer .f_in .f_left .f_about .f_rule{margin:0 10px; font-size:14px;}
   .footer .f_in .f_left .f_about .f_rule::before{display:none;}
   .footer .f_in .f_left .f_about .rel_site{width:80%; margin-top:10px;}
   .footer .f_in .f_right .f_time{width:100%;}

   
   .main_search_wrap{display:none;}
}


@media screen and (max-width: 1086px) {
	

	


   }

@media screen and (max-width: 690px) {



}
   
   
@media screen and (max-width: 450px) {
   
   
   .sidebar{margin-left:-85%; width:85%; min-width:320px; transition: margin-left 0.5s; height:100%; top:0;  background:#f9fcf6; z-index:99999; box-shadow:0px 0px 0px #b1b1b1;}
   .btn_sidebar{top: 0px; transform:translateY(0);}
   .btn_sidebar_close{top: 0px;transform:translateY(0);}
   .sidebar.open{margin-left:0px;}
   .sidebar.open .btn_sidebar_close{top: 0px; transform:translateY(0);}
   .sidebar .sidebar_in{width:100%; height:91%; padding:20px;}
   .log_box{margin-top:20px;}
   .log_box .chk_save{margin-top:15px;}
   .comment img{width:60%;}
   .comment h4{font-size:25px;}
   .log_box input{height:40px; line-height:40px; font-size:16px;}
   .log_box .btn_about{height:40px; line-height:40px; font-size:16px;}
   .log_box .btn_log{height:40px; line-height:40px; font-size:16px;}
   .log_box .btn_out{height:40px; line-height:40px; font-size:16px;}
   .find_me{ margin:0 auto; margin-top:20px; width:95%;}
   .find_me li:nth-child(2){padding:0 10px;}
   .find_me li a{font-size:15px; }
   .main_point{width:calc(100% - 40px); left:50%; transform:translateX(-50%); }
   .main_point li a::before{width:50px; height:50px;}
   .main_point li.mp1 a::before{background-size:cover;}
   .main_point li.mp2 a::before{background-size:cover;}
   .main_point li.mp3 a::before{background-size:cover;}
   .main_point li.mp4 a::before{background-size:cover;}
   .main_point li.mp5 a::before{background-size:cover;}
   .main_point li.mp6 a::before{background-size:cover;}
   .main_point li a span{font-size:14px; left:50px;}
   .main_point li{margin-bottom:0px;}
   
	


}
/* 
@media screen and (max-width: 600px) {
	
	
} */

@media screen and (max-width: 370px) {
  /* body{min-width:370px; }
  .header{min-width:370px; } */

  
 }















