@charset "utf-8";
/* common.css */

/* overflow */
.overflow_a{overflow:auto!important;}
.overflow_x{overflow-x:auto;}
.overflow_y{overflow-y:auto;}

.m0a{margin:0 auto;}
/* margin-top */
.mt0{margin-top:0px!important;}
.mt5{margin-top:5px!important;}
.mt8{margin-top:8px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px!important;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px!important;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px!important;}

.mtm1{margin-top:-1px;}

/* margin-right */
.mb0{margin-bottom:0px!important;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}

/* margin-left */
.ml0{margin-left:0!important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}

/* margin-right */
.mr0{margin-right:0px!important;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}

/* padding */
.pd5{padding:5px!important;}
.pd10{padding:10px!important;}
.pd60{padding:60px!important;}

/* padding-top */
.pdt0{padding-top:0!important;}
.pd0{padding:0!important;}
.pd2{padding:2px!important;}

/* padding-left */
.pdl20{padding-left:20px;}

/* padding-bottom */
.pb30{padding-bottom:30px!important;}

/* width */
.w50{width:50px!important;}
.w55{width:55px!important;}
.w60{width:60px!important;}
.w65{width:65px!important;}
.w70{width:70px!important;}
.w75{width:75px!important;}
.w80{width:80px!important;}
.w85{width:85px!important;}
.w90{width:90px!important;}
.w95{width:95px!important;}
.w100{width:100px!important;}
.w105{width:105px!important;}
.w110{width:110px!important;}
.w115{width:115px!important;}
.w120{width:120px!important;}
.w125{width:125px!important;}
.w130{width:130px!important;}
.w135{width:135px!important;}
.w140{width:140px!important;}
.w145{width:145px!important;}
.w150{width:150px!important;}
.w155{width:155px!important;}
.w160{width:160px!important;}
.w165{width:165px!important;}
.w170{width:170px!important;}
.w175{width:175px!important;}
.w180{width:180px!important;}
.w185{width:185px!important;}
.w190{width:190px!important;}
.w195{width:195px!important;}
.w200{width:200px!important;}
.w205{width:205px!important;}
.w210{width:210px!important;}
.w215{width:215px!important;}
.w220{width:220px!important;}
.w225{width:225px!important;}
.w230{width:230px!important;}
.w235{width:235px!important;}
.w240{width:240px!important;}
.w245{width:245px!important;}
.w250{width:250px!important;}
.w378{width:378px;}
.w400{width:400px;}
.w1000{width:1000px!important;}

.w25p{width:25%!important;}
.w39p{width:39%!important;}
.w40p{width:40%!important;}
.w50p{width:50%!important;}
.w100p{width:100%!important;}
.mw100p{max-width:100%!important;}

/* height */
.h40{height:40px!important;}
.h120{height:120px!important;}
.h200{height:200px!important;}
.h220{height:220px!important;}
.h230{height:230px!important;}
.h400{height:400px;}
.h500{height:500px!important;}

.mh300{max-height:300px!important;}
.mh500{max-height:620px!important;}
.h_auto{height:auto!important;}
.h100p{height:100%!important;}


/* vertical align */
.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.vb {vertical-align:bottom;}

/* text align */
.tl {text-align:left!important;}
.tc {text-align:center!important;}
.tr {text-align:right!important;}
.tj {text-align:justify!important;}

/* display */
.db {display:block !important;}
.dib {display:inline-block !important;}
.hide {display:none !important;}
/* .show{display:table-row;} */
.show{display:block;}

/* elip */
.elips {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}

/* float */
.fl {float:left;}
.fr {float:right;}
.fn {float:none!important;}

/* font-weight */
.fwb{font-weight:bold!important;}

/* font-size */
.fs0{font-size:0;}

/* color */
.color_r{color:#e6541c!important;}
.color_g{color:#53af31!important;}
.color_o{color:#fd721f!important;}
.color_b{color:#303030!important;}
.color_b_02{color:#8f82bc!important;}
.gray{color:#777777;}
.color_p{color:#ab10e9;}

/* border */
.bdg{border:1px solid #53af31!important;}
.bdgray{border:1px solid #cecece!important;}
.btgray{border-top:1px solid #cecece!important;}
.bdlg{border-left:1px solid #dcdcdc;}
.bdn{border:none!important;}
.bdtn{border-top:none!important;}
.bdtg{border-top:1px solid #dcdcdc;}
.bdtg2{border-top:2px solid #a4a4a4;}
.bdln{border-left:none!important;}


/* text-decoration */
.txt_ul{text-decoration: underline;}

/* background */
.bgw{background:#ffffff!important;}
.bg_gray{background:#eeeeee;}
.orange{}
.sub_bg_01{background:#e8e8e8;}
/* etc */
.csp {cursor:pointer;}

.clear {clear:both;}
/***** SET *****/

.bold{font-weight:bold;}
.bold{font-weight:900;;}


.point{color:#ef4153;}


/* placeholder color 제어 */
input:-ms-input-placeholder { color: #888888; }
/* Internet Explorer 10 이상에 적용 */

input::-webkit-input-placeholder { color: #888888; } 
 /* Webkit, Blink, Edge에 적용 */ 

input::-moz-placeholder { color: #888888; }
 /* Mozilla Firefox 4 부터 18에 적용 */

input::-moz-placeholder { color: #888888; }
/* Mozilla Firefox 19 이상에 적용 */

body{ background:url(../img/main_bg_wrap.png) 50% 0 no-repeat; background-size:1920px;}
/*** wrap ***/
.wrap{width:100%; height:100%;  box-sizing:border-box; background:url(../img/main_bg_wrap.png) 50% 0 no-repeat; background-size:1920px;}
.wrap .w_in{width:100%; height:100%;  box-sizing:border-box;  position:relative; }
.wrap .w_in .content{width:100%; height:100%; border:2px solid blue;}


/*** 헤더 ***/
.header{width:100%; min-width:370px;  position:fixed; height:138px;  left:0; top:0; z-index:99999;   }
.header.active{background:rgba(255, 255, 255, 0.9); transition: 0.4s; border-bottom:1px solid #dde4ea;}
.header .h_in{max-width:1290px; margin:0 auto; height:100%; position:relative; text-align: center;}
.header .hi_top{display:block;  overflow:hidden; position:relative;  height:75px;}
.header .h_in .hi_top .main_logo{ display:inline-block; position:absolute; top:50%; left:0; transform:translateY(-50%);}
.header .hi_top .btn_mobile_menu{ display:inline-block; position:absolute; top:50%; right:15px; transform:translateY(-50%); width:42px; height:42px; display:none;}
.header .hi_top .h_search_box{ display:inline-block; position:absolute; top:50%; transform:translateY(-50%); left:310px;}
.header .hi_top .h_search_box .btn_global{vertical-align:middle; width:42px; height:42px; }
.header .hi_top .h_search_box .signin{display:inline-block;  margin-left:40px; vertical-align:sub;}
.header .hi_top .h_search_box .signin a{display:inline-block; color:#777777; font-size:16px; line-height:18px; font-weight:600;}
.header .hi_top .h_search_box .signin a:first-child{margin-right:7px;}
.header .hi_top .h_search_box .signin a:last-child{padding-left:7px; }
.header .hi_bottom{display:block; position:relative;  height:65px;}
.header .hi_bottom .nav{float:left;}
.header .hi_bottom .btn_global{ position:absolute; top:50%; right:0; transform:translateY(-50%); width:42px; height:42px;}
/** nav **/
.nav {height:auto;  max-width:100%;  display:inline-block; text-align:center; font-size:0;  width:calc(100% - 70px); }
.topnav{text-align:center; font-weight:bold;}
.topnav > a{color:#000000; font-size:20px; display:block; font-weight:900; }
/* .topnav > a:hover{color:#d3d3d3; } */
.hi_bottom .nav_bg{ position:absolute; content:''; display:none; top:62px; left:0; width: 100vw; margin-left: calc(-50vw + 50%); height:403px; background:#ffffff; z-index:-1; border-bottom:1px solid #dde4ea; border-top:1px solid #dde4ea;}
.hi_bottom .nav .navi_set{display:Inline-block; line-height:63px; height:100%; position: relative; float:left; padding:0 28px; }
.hi_bottom .nav .navi_set:hover .topnav a{position:relative;}
.hi_bottom .nav .navi_set:hover .topnav a::before{position:absolute; content:''; display:inline-block; width:120%; height:4px; background:#f6d300; bottom:25px; left:-10%; z-index:-1;}
.hi_bottom .nav .navi_set:hover .subnav{background:#fff7c4;}

.hi_bottom .nav .navi_set .subnav{display:none; position: absolute; left: 0; top: 63px; background: #ffffff; width:100%; float:left; box-sizing:border-box; height:404px; border-right:1px solid #dde4ea; border-bottom:1px solid #dde4ea; box-sizing:border-box;}
.hi_bottom .nav .navi_set:first-of-type .subnav{border-left:1px solid #dde4ea;}
.hi_bottom .nav .navi_set .subnav li{ text-align:center; height:50px}
.hi_bottom .nav .navi_set .subnav li a{color:#000000;  font-size:16px; line-height:50px;}
.hi_bottom .nav .navi_set .subnav li a:hover{font-weight:900;}
.hi_bottom .nav .navi_set .subnav li a.linked{text-decoration: underline; font-weight:900; color:#063e8f}




/*** 푸터 ***/
.footer{width:100%; height:100px; border-top:1px solid #d2d2d2; background:#151c46;}
.footer .f_in{max-width:1290px; height:100%; margin:0 auto; position:relative;}
.footer .f_in .f_logo{position:absolute; top:50%; transform:translateY(-50%); left:0;}
.footer .f_in .address{position:absolute; top:50%; transform:translateY(-50%); left:330px;  font-size:0;}
.footer .f_in .address li{display:inline-block; margin-left:20px;   color:#cbcbcb; font-size:15px;}
.footer .f_in .address li span{margin-right:10px;color:#f6d300; font-weight:900;}
.footer .f_in .copy{position:absolute; top:50%; transform:translateY(-50%); right:0; color:#cbcbcb; font-size:15px;}


/** 모바일메뉴 **/
.mobile_menu{position:fixed; width:100%; z-index:8; top:0px; left:100%;    height:100%; overflow-y:auto;     z-index: 999999; border-top:1px solid #999999; transition: left 0.5s; background: linear-gradient( 135deg, #063e8f, #219392, #86bb52 );}
.mobile_menu.active{left:0;}
.mobile_menu .lnb_box{z-index:99999; position:absolute; width:100%;}
.btn_lnb{display:none;}
#lnb h1 {height: 40px;text-align: center;color: #fff;font-size: 20px;line-height: 1.8; letter-spacing: -2px;}
#lnb > ul {}
#lnb > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > a {display: block;  height:70px; line-height:70px; text-align:left; color:#ffffff; font-size:20px; position:relative;  font-weight:900; padding-left:20px;}
#lnb > ul > li > a::after{display:inline-block; content:""; background:url(../img/list_on_arrow.png) center no-repeat; width:15px; height:15px; right:20px; position:absolute; top:50%; transform:translateY(-50%); background-size:cover;}
#lnb > ul > li.on > a{/*background: linear-gradient( to right, #a353c3, #6b53c3 );*/  color: #ffffff;}
#lnb > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/list_on_arrow_h.png) center no-repeat; width:15px; height:3px; right:20px; position:absolute; top:50%; transform:translateY(-50%); background-size:cover;}
#lnb > ul > li > ul{display:none; box-sizing:border-box; font-size:0;}
#lnb > ul > li > ul > li {  width:50%; box-sizing:border-box; display:inline-block;}
#lnb > ul > li > ul > li > a {display: block; height:50px; line-height:48px; text-align:left; color:#ffffff; font-size:18px; position:relative;  padding-left:20px; font-weight:bold;}
#lnb > ul > li > ul > li > a.linked{color:yellow; text-decoration:underline; font-weight:bold;}
#lnb > ul > li > ul > li > a::after{display:inline-block; content:""; background:url(../img/list_on_arrow.png) center no-repeat; width:15px; height:3px; right:20px; position:absolute; top:20px; background-size:cover;}
#lnb > ul > li > ul > li.on > a{ color: #303030; }
#lnb > ul > li > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/list_on_arrow_h.png) center no-repeat; width:15px; height:7px; right:20px; position:absolute; top:20px; background-size:cover;}
#lnb > ul > li > ul > li > ul{display:none;}
#lnb > ul > li > ul > li > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > ul > li > ul > li > a {display: block; background:#ffffff; height:50px; line-height:48px; text-align:left; color:#303030; font-size:16px; position:relative; padding-left:60px;}
/* #lnb > ul > li > ul > li > ul > li > a::after{display:inline-block; content:""; background:url(../img/depth_arrow.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}  */
#lnb > ul > li > ul > li > ul > li.on > a{ color: #ffffff;}
/* #lnb > ul > li > ul > li > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/depth_arrow_up.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;} */
#lnb > ul li.noDepth a::after {background-image: none !important; }
.dim{position:absolute; top:0; left:0; width:100%; height:100%; background:#030303; opacity:.8; z-index:2;}

.mm_top{width:100%; height:75px; position:relative;}
.mm_top .m_log{position:absolute; left: 15px; top:50%; transform:translateY(-50%); }
.mm_top .m_log a{display:inline-block; color:#f6d400; font-size:16px;}
.mm_top .m_log a:last-of-type::before{padding:0 10px 0 7px; content:'|'; }
.mm_top .m_btn_close{position:absolute; right: 15px; top:50%; transform:translateY(-50%); width: 30px; height: 30px; z-index:9999;}
.mm_top .m_btn_close img{width:100%;}
.mobile_menu.active .m_btn_close{display:inline-block;}


@media screen and (max-width: 1750px) {
	
}

@media screen and (max-width: 1650px) {
	
}

@media screen and (max-width: 1526px) {

}

@media screen and (max-width: 1238px) {
   
   .header{height:75px; background:rgba(255, 255, 255, 1); border-bottom:1px solid #bfbfbf;}
   .header.active{height:75px; background:rgba(255, 255, 255, 1); }
   .header .h_in .hi_top .main_logo{left:15px;}
   .header .h_in .hi_top .btn_mobile_menu{display:block;}
   .header .h_in .hi_top .h_search_box .signin{display:none;}
   .header .hi_bottom{display:none;}
	.nav{display:none;}
   .h_search_box .signin{display:none;}
   .h_search_box{right:15px;}

   

}


@media screen and (max-width: 1086px) {
   .footer{height:auto; padding:10px 0;}
	.footer .f_in .f_logo{position:relative; width:100%; display:block; text-align:center; transform:unset; margin:10px 0;}
   .footer .f_in .address{position:relative; width:100%; display:block; left:unset; text-align:center; transform:unset;}
   .footer .f_in .address li:first-child{width:100%; margin:10px 0;}
   .footer .f_in .address li{margin:10px 5px; }
	.footer .f_in .copy{position:relative; width:100%; display:block; text-align:center; transform:unset; margin:10px 0;}


   }

@media screen and (max-width: 690px) {



}
   
   
@media screen and (max-width: 630px) {
	


}

@media screen and (max-width: 600px) {
	
	
}

@media screen and (max-width: 370px){
  .wrap{min-width:370px;}
  
 }















