/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */

 
/*** font ***/

/** Noto Sans KR **/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
		 url(../fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
		 url(../fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
		 url(../fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
		 url(../fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 400;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
		  url(../fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 500;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
		  url(../fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
   }

  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 700;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'), 
		  url(../fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 900;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Black.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Black.woff) format('woff'),
		  url(../fonts/NotoSansKr/NotoSansKR-Black.otf) format('opentype');
   }

   

   /** S-CoreDream **/
   .S-Core {font-family:"S-Core"}
   .fs25 {font-size:25px}
   h1 {font-size:25px; font-family:"S-Core"}
   h1.weight100 {font-weight:100}
   h1.weight200 {font-weight:200}
   h1.weight300 {font-weight:300}
   h1.weight400 {font-weight:400}
   h1.weight500 {font-weight:500}
   h1.weight600 {font-weight:600}
   h1.weight700 {font-weight:700}
   h1.weight800 {font-weight:800}
   h1.weight900 {font-weight:900}
   
   @font-face {
	   font-family: "S-Core";
	   font-weight:100;
	   src: url('../fonts/S-CoreDream/S-CoreDream-1Thin.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:200;
	   src: url('../fonts/S-CoreDream/S-CoreDream-2ExtraLight.woff') format('woff');
   }
   @font-face {
	 font-family: "S-Core";
	 font-weight:300;
	 src: url('../fonts/S-CoreDream/S-CoreDream-3Light.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:400;
	   src: url('../fonts/S-CoreDream/S-CoreDream-4Regular.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:500;
	   src: url('../fonts/S-CoreDream/S-CoreDream-5Medium.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:600;
	   src: url('../fonts/S-CoreDream/S-CoreDream-6Bold.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:700;
	   src: url('../fonts/S-CoreDream/S-CoreDream-7ExtraBold.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:800;
	   src: url('../fonts/S-CoreDream/S-CoreDream-8Heavy.woff') format('woff');
   }
   @font-face {
	   font-family: "S-Core";
	   font-weight:900;
	   src: url('../fonts/S-CoreDream/S-CoreDream-9Black.woff') format('woff');
   }	

/** NanumSquareRound **/    
@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 300;
    src: local("NanumSquareRoundL"), /* computer */
      url("../fonts/NanumSquareRound/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRound/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRound/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 400;
    src: local("NanumSquareRoundR"), /* computer */
      url("../fonts/NanumSquareRound/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRound/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRound/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */    
      url("../fonts/NanumSquareRound/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    src: local("NanumSquareRoundB"), /* computer */
      url("../fonts/NanumSquareRound/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRound/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRound/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    src: local("NanumSquareRoundEB"), /* computer */
      url("../fonts/NanumSquareRound/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRound/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRound/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRound/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
  }

  /** NanumSquare **/
  @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
  /* @import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css); */
 
  /* 선택자{
    font-family:'NanumSquare',san-serif;
    font-size:17px;
    line-height:1.5;
    } */

  /** Gmarket Sans B **/
  @font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   