@charset "utf-8";
/* common.css */
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */

 
/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
		 url(../fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
		 url(../fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
		 url(../fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
		 url(../fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 400;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
		  url(../fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 500;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
		  url(../fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
   }

  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 700;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'), 
		  url(../fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 900;
	 src: url(../fonts/NotoSansKr/NotoSansKR-Black.woff2) format('woff2'),
		  url(../fonts/NotoSansKr/NotoSansKR-Black.woff) format('woff'),
		  url(../fonts/NotoSansKr/NotoSansKR-Black.otf) format('opentype');
   }

   @font-face { font-family: 'S-CoreDream-9Black'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: normal; font-style: normal; }
  
/* overflow */
.overflow_a{overflow:auto!important;}
.overflow_x{overflow-x:auto;}
.overflow_y{overflow-y:auto;}

.m0a{margin:0 auto;}
/* margin-top */
.mt0{margin-top:0px!important;}
.mt5{margin-top:5px!important;}
.mt8{margin-top:8px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px!important;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px!important;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px!important;}

.mtm1{margin-top:-1px;}

/* margin-right */
.mb0{margin-bottom:0px!important;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}

/* margin-left */
.ml0{margin-left:0!important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}

/* margin-right */
.mr0{margin-right:0px!important;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}

/* padding */
.pd5{padding:5px!important;}
.pd10{padding:10px!important;}
.pd60{padding:60px!important;}

/* padding-top */
.pdt0{padding-top:0!important;}
.pd0{padding:0!important;}
.pd2{padding:2px!important;}

/* padding-left */
.pdl20{padding-left:20px;}

/* width */
.w50{width:50px!important;}
.w55{width:55px!important;}
.w60{width:60px!important;}
.w65{width:65px!important;}
.w70{width:70px!important;}
.w75{width:75px!important;}
.w80{width:80px!important;}
.w85{width:85px!important;}
.w90{width:90px!important;}
.w95{width:95px!important;}
.w100{width:100px!important;}
.w105{width:105px!important;}
.w110{width:110px!important;}
.w115{width:115px!important;}
.w120{width:120px!important;}
.w125{width:125px!important;}
.w130{width:130px!important;}
.w135{width:135px!important;}
.w140{width:140px!important;}
.w145{width:145px!important;}
.w150{width:150px!important;}
.w155{width:155px!important;}
.w160{width:160px!important;}
.w165{width:165px!important;}
.w170{width:170px!important;}
.w175{width:175px!important;}
.w180{width:180px!important;}
.w185{width:185px!important;}
.w190{width:190px!important;}
.w195{width:195px!important;}
.w200{width:200px!important;}
.w205{width:205px!important;}
.w210{width:210px!important;}
.w215{width:215px!important;}
.w220{width:220px!important;}
.w225{width:225px!important;}
.w230{width:230px!important;}
.w235{width:235px!important;}
.w240{width:240px!important;}
.w245{width:245px!important;}
.w250{width:250px!important;}
.w378{width:378px;}
.w400{width:400px;}
.w1000{width:1000px!important;}

.w25p{width:25%!important;}
.w39p{width:39%!important;}
.w40p{width:40%!important;}
.w50p{width:50%!important;}
.w100p{width:100%!important;}

/* height */
.h40{height:40px!important;}
.h120{height:120px!important;}
.h200{height:200px!important;}
.h220{height:220px!important;}
.h230{height:230px!important;}
.h400{height:400px;}
.h500{height:500px!important;}

.mh300{max-height:300px!important;}
.mh500{max-height:620px!important;}
.h_auto{height:auto!important;}
.h100p{height:100%!important;}


/* vertical align */
.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.vb {vertical-align:bottom;}

/* text align */
.tl {text-align:left!important;}
.tc {text-align:center!important;}
.tr {text-align:right!important;}
.tj {text-align:justify!important;}

/* display */
.db {display:block !important;}
.dib {display:inline-block !important;}
.hide {display:none !important;}
/* .show{display:table-row;} */
.show{display:block;}

/* elip */
.elips {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}

/* float */
.fl {float:left;}
.fr {float:right;}
.fn {float:none!important;}

/* font-weight */
.fwb{font-weight:bold!important;}

/* font-size */
.fs0{font-size:0;}

/* color */
.color_r{color:#e6541c!important;}
.color_g{color:#53af31!important;}
.color_o{color:#fd721f!important;}
.color_b{color:#303030!important;}
.color_b_02{color:#8f82bc!important;}
.gray{color:#777777;}
.color_p{color:#ab10e9;}

/* border */
.bdg{border:1px solid #53af31!important;}
.bdgray{border:1px solid #cecece!important;}
.btgray{border-top:1px solid #cecece!important;}
.bdlg{border-left:1px solid #dcdcdc;}
.bdn{border:none!important;}
.bdtn{border-top:none!important;}
.bdtg{border-top:1px solid #dcdcdc;}
.bdtg2{border-top:2px solid #a4a4a4;}
.bdln{border-left:none!important;}


/* text-decoration */
.txt_ul{text-decoration: underline;}

/* background */
.bgw{background:#ffffff!important;}
.bg_gray{background:#eeeeee;}
.orange{}
.sub_bg_01{background:#e8e8e8;}
/* etc */
.csp {cursor:pointer;}

.clear {clear:both;}
/***** SET *****/

.bold{font-weight:bold;}


.point{color:#ef4153;}

/* placeholder color 제어 */
input:-ms-input-placeholder { color: #888888; }
/* Internet Explorer 10 이상에 적용 */

input::-webkit-input-placeholder { color: #888888; } 
 /* Webkit, Blink, Edge에 적용 */

input::-moz-placeholder { color: #888888; }
 /* Mozilla Firefox 4 부터 18에 적용 */

input::-moz-placeholder { color: #888888; }
/* Mozilla Firefox 19 이상에 적용 */

/*** input checkbox radio select ***/
.ip_type_01{display:inline-block; box-sizing:border-box;}
.sel_type_01{display:inline-block; box-sizing:border-box; width:100px;}
.sel_type_01 select{width:100%;}
.sel_type_02{display:inline-block; box-sizing:border-box; width:100px;}
.sel_type_02 select{width:100%; height:36px;}
.sel_type_03{display:inline-block; box-sizing:border-box; width:100px;}
.sel_type_03 select{width:100%; height:36px; background: #fff url(../img/sel_arrow_03.png) no-repeat 98% 50%; height: 36px; padding-left:8px; padding-right:20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #dcdcdc; box-sizing: border-box; font-size: 16px; color: #757575; border-radius: .25rem; font-family: 'Noto Sans KR', 고딕, san-serif, IcoMoon,dashicons, FontAwesome!important; letter-spacing: -1px;}

.ip_type_01 input{width:100%;}
.ip_type_02 input{width:100%; height:36px;}
.ip_type_03{position:relative;}
.ip_type_03 input{width:100%; height:40px; font-size:17px; font-weight:bold;}
.t_area{width:100%; box-sizing:border-box; border:1px solid #dcdcdc; padding:10px;}
.t_area textarea{font-size:14px; width:100%; height:100%;}
.file_box{width:100%; overflow:hidden; display:block; box-sizing:border-box; height:auto;}
input.upload_text {/*읽기전용 인풋텍스트*/ float:left; width:200px;/* 버튼 포함 전체 가로 길이*/ height:30px; line-height:19px; padding:0 3px; border:1px solid #dcdcdc;}
div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/ position:absolute; top:0; right:0; cursor:pointer; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -moz-opacity:0; }
div.upload-btn_wrap {/*버튼테두리 감싼 div*/ overflow:hidden; position:relative; float:left; width:70px;/*width, height 값은 button(찾아보기)값과 같아야함 */ height:30px; padding-left:3px; }
div.upload-btn_wrap button {/*버튼 div*/ width:70px; height:30px; background:#333; border:1px solid #333; color:#fff; font-size:15px; }
.time_box{width:100px; border:1px solid #dcdcdc; display:inline-block;}
.time_box input{border:0; width:100%;}

.tit_p{font-size:24px; font-weight:bold; line-height:80px;}

/* cursor */
.cursor_p{cursor:pointer;}
.wrap{width:100%; height:100%; box-sizing:border-box; overflow:hidden; position:relative; background:#ffffff;} 

/*** colwrap ***/
.col_wrap{width:100%; height:auto; overflow:hidden; box-sizing:border-box;}
.cola{float:left; box-sizing:border-box;}
.colb{float:left; box-sizing:border-box;}
.col_wrap.col5_5 .cola{width:calc( 50% - 20px);}
.col_wrap.col5_5 .colb{width:calc( 50% - 20px); margin-left:40px;}
.col_wrap.col4_6 .cola{width:calc( 40% - 10px);}
.col_wrap.col4_6 .colb{width:calc( 60% - 10px); margin-left:20px;}
.col_wrap.col3_7 .cola{width:calc( 30% - 10px);}
.col_wrap.col3_7 .colb{width:calc( 70% - 10px); margin-left:20px;}

/*** 헤더 ***/
.header{width:100%; box-sizing:border-box;  background:#ffffff;  position:absolute; height:82px;}
.header_in{max-width:1190px; margin:0 auto;  position:relative; height:100%;}
.header_in .h_logo{position:absolute; left:0; top: 50%;  transform: translateY(-50%);}
.border_gradient{width:100%; height:2px; background: linear-gradient( to right, #a353c3, #6b53c3 ); margin-top:84px;}

.menu_box{width:70%;  height:100%; text-align:center;  font-size:0; box-sizing:border-box; margin:0 auto;}
.menu_box > ul{height:100%; width:100%;}
.menu_box > ul > li{display:inline-block; height:100%;  width:16.66%;}
.menu_box > ul > li > .btn_m{display:block; font-size:19px; color:#303030; margin-top:35px; position:relative; z-index:0;}
.menu_box > ul > li > .btn_m:hover{color:#ab10e9; margin-top:0; line-height:85px;}
.menu_box > ul > li > .btn_m.active{color:#ab10e9; position:relative;}
.menu_box > ul > li > .btn_m:hover::before{display:block; content:'';  width:120%; height:60px; left:50%; transform:translateX(-50%); position:absolute; bottom:-10px; z-index:999999;   border:0;}
.menu_box > ul > li > .btn_m:hover::after{display:block; content:''; width:160%; height:38px; left:50%; transform:translateX(-50%); position:absolute; bottom:-10px; z-index:999999; border-left: 30px solid transparent; border-right: 30px solid transparent; border-bottom: 30px solid #ffffff;    border:0;}
.menu_box > ul > li > .btn_m.on{color:#ab10e9;}
.menu_box > ul > li > .btn_m:last-child{margin-right:0;}
.menu_box > ul > li > .btn_m:first-child{margin-left:0;}

/*** GNB ***/
.menu_box > ul > li > .gnb_box{display:none;  width: 100vw; margin-left: calc(-50vw + 50%);  height:230px; position:absolute; box-sizing:border-box;  z-index:999999; background:#ffffff; top:82px;  box-shadow:0px 10px 9px -6px #d2d2d2; left:0; }
.menu_box > ul > li > .gnb_box .border_gradient{position:absolute; top:0; margin-top: 2px; }
.menu_box > ul > li > .gnb_box.active{display:block;}
.menu_box > ul > li > .gnb_box > .gb_in{width:1086px; height:100%;  margin:0 auto; position:relative; box-sizing:border-box;}
.menu_box > ul > li > .gnb_box > .gb_in .ico_box{float:left; width:310px;box-sizing:border-box; text-align:center; height:100%;}
.menu_box > ul > li > .gnb_box > .gb_in .ico_box .gb_img{display:block; margin-top:37px; height:93px; text-align:center!important;}
.menu_box > ul > li > .gnb_box > .gb_in .ico_box .menu_title{font-size:22px; color:#303030; margin-top:10px; display:block; margin:0; margin-top:20px;}
.menu_box > ul > li > .gnb_box > .gb_in .menu_list{float:left; width:calc(100% - 310px); box-sizing:border-box; font-size:0; }
.menu_box > ul > li > .gnb_box > .gb_in .menu_list > ul{height:100%; margin-top:45px;}
.menu_box > ul > li > .gnb_box > .gb_in .menu_list > ul > li{ width:100%; margin-bottom:30px; box-sizing:border-box; }
.menu_box > ul > li > .gnb_box > .gb_in .menu_list > ul > li a{display:inline-block; font-size:17px; color:#777777; box-sizing:border-box;  float:left; margin-bottom:30px; text-align:left; width:33.33%;}
.menu_box > ul > li > .gnb_box > .gb_in .menu_list > ul > li a::before{display:inline-block; content:""; width:9px; height:10px; background:url(../img/gnb_arrow.png) center no-repeat; padding-right:14px;}
.menu_box > ul > li > .gnb_box > .gb_in .menu_list > ul > li a:hover{text-decoration:underline; font-weight:bold;}

.header_in .mypage{position:absolute;  right:0; top: 50%;  transform: translateY(-50%);}
.header_in .mypage .btn_p{margin-left:14px; font-size:14px; color:#777777;}
.header_in .mypage .btn_p:first-child{margin-left:0px;}
.header_in .mypage .btn_p span{display:inline-block; margin-right:7px;  }
.header_in .mypage .btn_p.login span{vertical-align:-11%;}
.header_in .mypage .btn_p.sign span{vertical-align:-11%;}
.btn_lnb{display:none;}



/*** 푸터 ***/
.footer{width:100%; box-sizing:border-box; overflow:hidden; background:#ffffff; height:111px; border-top:1px solid #dcdcdc;}
.f_top{overflow:hidden;height:50px; box-sizing:border-box; border-bottom:1px solid #dcdcdc;}
.ft_in{max-width:1190px; margin:0 auto;}
.ft_in .btn_f{display:inline-block; color:#444444; font-size:15px; line-height:48px;}
.ft_in .f_bar{display:inline-block; color:#dcdcdc; padding:0 12px; vertical-align:-9%;}
.foot_sel select{background:#fff url("../img/f_sel_arrow.png") no-repeat 95% 50%; color:#777777; font-size:14px; width:145px; height:30px; margin-top:10px; padding:0 5%;}
.f_bottom{overflow:hidden; height:60px; box-sizing:border-box; border-bottom:1px solid #dcdcdc; }
.fb_in{max-width:1190px; margin:0 auto; height:100%; }
.f_tit_01{color:#777777; font-size:14px; display:inline-block;  margin-right:10px; line-height:58px;}
.f_tit_01 span{font-size:15px; font-weight:bold; margin-right:5px;}
.f_tit_01:last-child{margin-right:0;}
.f_tit_02{font-size:14px; color:#777777; line-height:58px;}


/*** lnb ***/
#lnb{display:none;}
.lnb_box{position:absolute; width:100%; z-index:8;}
#lnb h1 {height: 40px;text-align: center;color: #fff;font-size: 20px;line-height: 1.8;letter-spacing: -2px; background: #d71a21;}
#lnb > ul {}
#lnb > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > a {display: block; background:#ffffff; height:50px; line-height:48px; text-align:center; color:#303030; font-size:18px; position:relative; }
#lnb > ul > li > a::after{display:inline-block; content:""; background:url(../img/depth_arrow.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}
#lnb > ul > li.on > a{background: linear-gradient( to right, #a353c3, #6b53c3 ); color: #ffffff;}
#lnb > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/depth_arrow_up.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}

#lnb > ul > li > ul{display:none;}
#lnb > ul > li > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > ul > li > a {display: block; background:#ededed; height:50px; line-height:48px; text-align:center; color:#303030; font-size:16px; position:relative; }
#lnb > ul > li > ul > li > a::after{display:inline-block; content:""; background:url(../img/depth_02_arrow.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}
#lnb > ul > li > ul > li.on > a{background:#e4e2e2; color: #303030; }
#lnb > ul > li > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/depth_02_arrow_up.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}

#lnb > ul > li > ul > li > ul{display:none;}
#lnb > ul > li > ul > li > ul > li { border-bottom: 1px solid #dcdcdc;}
#lnb > ul > li > ul > li > ul > li > a {display: block; background:#ffffff; height:50px; line-height:48px; text-align:center; color:#303030; font-size:14px; position:relative; }
/* #lnb > ul > li > ul > li > ul > li > a::after{display:inline-block; content:""; background:url(../img/depth_arrow.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;}  */
#lnb > ul > li > ul > li > ul > li.on > a{background: linear-gradient( to right, #a353c3, #6b53c3 ); color: #ffffff;}
/* #lnb > ul > li > ul > li > ul > li.on > a::after {display:inline-block; content:""; background:url(../img/depth_arrow_up.png) center no-repeat; width:16px; height:10px; right:20px; position:absolute; top:20px;} */
#lnb > ul li.noDepth a::after {background-image: none !important; }
/* .lnb_menu{display:none; width:100%; height:100%; z-index:9;  top:62px; position:absolute; box-sizing:border-box;}
.m_btn_close{    display: inline-block; position: absolute; right: 15px; top:-52px; width: 40px; height: 40px; }
.m_btn_close img{width:100%;}
.dim{position:absolute; top:0; left:0; width:100%; height:100%; background:#030303; opacity:.8; z-index:9;}
.m_menu_list{position:absolute; width:100%; box-sizing:border-box; z-index:999; background:#ffffff;}
.m_menu_list .m_mypage{position:relative; width:100%; height:50px; background:#ffffff; border-bottom:1px solid #d2d2d2; box-sizing:border-box; }
.m_menu_list .m_mypage .m_btn{display:inline-block; box-sizing:border-box;  width:50%; float:left; text-align:center; line-height:45px; vertical-align:sub; color:#777777; font-size:14px;}
.m_menu_list .m_mypage .m_btn.login{ border-right:1px solid #d2d2d2;}
.m_menu_list .m_mypage .m_btn span{margin-right:10px; vertical-align:sub;}
.depth_box{width:100%; overflow:hidden;}
.depth_box ul li a{display:inline-block; width:100%; height:50px;  line-height:50px; box-sizing:border-box; position:relative; border-bottom:1px solid #d2d2d2; color:#303030; font-size:18px; text-align:center;}
.depth_box ul li a span.depth_arrow{position:absolute; right:20px;}
.depth_01 > li > a.on{background: linear-gradient( to right, #a353c3, #6b53c3 );}
.depth_02{display:none;}
.depth_03{display:none;} */




/* #lnb > ul > li ul {display: none;}
#lnb > ul > li > ul > li > a {display: block;padding: 0 25px 14px 14px;color: #inherit; font-size: 12px;background: #f5f2ec url('http://cfile26.uf.tistory.com/image/2417E04D570C5C02256897') no-repeat 95% 1px;}
#lnb > ul > li > ul > li > a {color: #d91c1b; background-color: #f5f2ec; }
#lnb > ul > li > ul > li.on a {color: #d91c1b; background: #f5f2ec url('http://cfile9.uf.tistory.com/image/257B794F570C5C0D1A05E1') no-repeat 95% 3px; }
#lnb > ul > li > ul li ul {display: none;padding-bottom: 8px;background-color: #f5f2ec;}
#lnb > ul > li > ul li li a {display: block;padding: 0 25px 10px 22px; color: #666; font-size: 12px;background-color: #f5f2ec;}
#lnb > ul > li > ul > li li a:hover {color: #d91c1b;}
#lnb > ul li.noDepth a {background-image: none !important; } */

/*** 탑버튼 ***/

.btn_scroll_top{display:none; width:60px; height:60px; position:fixed; bottom:198px; right:12%;  box-sizing:border-box;  text-align:center; line-height:75px; font-size:13px; box-sizing:border-box; color:#ffffff; background:#303030; letter-spacing:1px;}
.btn_scroll_top::before{display:inline-block; content:'▲'; position:absolute; top:-19px; left:50%; transform:translateX(-50%); font-size:10px; }

@media screen and (max-width: 1750px) {
	.btn_scroll_top{ right:15%;}
}

@media screen and (max-width: 1650px) {
	.btn_scroll_top{ right:12%;}
}

@media screen and (max-width: 1526px) {
	.btn_scroll_top{ right:10%;}
}

@media screen and (max-width: 1266px) {
	.btn_scroll_top{ right:3%;}
}


@media screen and (max-width: 1086px) {
	input.upload_text{width:calc( 100% - 80px); }
	.time_box{width:70px;}

	/*** colwrap ***/
	.cola{float:unset; }
	.colb{float:unset; }
	.col_wrap.col5_5 .cola{width:100%;}
	.col_wrap.col5_5 .colb{width:100%; margin-left:0px; margin-top:30px;}

	/*** 헤더 ***/
	.header{height:60px;}
	.header_in .h_logo{top:13%; left: 50%;  transform: translateX(-50%); width:120px;}
	.header_in .h_logo img{width:100%;}
	.btn_lnb{display:inline-block; position:absolute; right:15px; top: 50%;  transform: translateY(-50%); width:40px; height:40px;}
	.btn_lnb img{width:100%;}
	.menu_box{display:none;}
	.mypage{display:none;}
	.border_gradient{margin-top:60px;}

	/*** GNB ***/
	.gnb_box{display:none;}
	/*** 푸터 ***/
	.footer{height:auto;}
	.f_top{height:auto; padding-bottom:10px;}
	.f_top .ft_in .fl{float:unset; width:100%; box-sizing:border-box; text-align:center!important;}
	.ft_in .btn_f{line-height:28px; font-size:12px; margin:0 5px;}
	.ft_in .f_bar{display:none;}
	.f_top .ft_in .fr{float:unset; width:100%; box-sizing:border-box; text-align:center!important;}
	.foot_sel select{margin-top:5px; width:90%; margin:0 auto; text-align:center!important;}
	.f_bottom{height:auto;}
	.f_bottom .fb_in .fl{float:unset; width:100%; text-align:center;}
	.f_bottom .fb_in .fl .f_tit_01{line-height:22px; text-align:center; font-size:12px;}
	.f_bottom .fb_in .fl .f_tit_01:first-child{display:block;}
	.f_bottom .fb_in .fl .f_tit_01 span{font-size:12px;}
	.f_bottom .fb_in .fr{float:unset; width:100%;}
	.f_bottom .fb_in .fr .f_tit_02{line-height:22px; display:block; text-align:center; font-size:12px;}
	.f_bottom .fb_in .fr .f_tit_02 span{display:block;}

	.m_dn{display:none;}

	/*** lnb ***/
	.lnb_menu{display:block;}
	#lnb {position:absolute; top:62px; width:100%; height:100%; display:none; }
	.m_btn_close{    display: inline-block; position: absolute; right: 15px; top:-52px; width: 40px; height: 40px; }
	.m_btn_close img{width:100%;}
	.dim{position:absolute; top:0; left:0; width:100%; height:100%; background:#030303; opacity:.8; z-index:1;}
	.m_mypage{position:relative; width:100%; height:50px; background:#ffffff; border-bottom:1px solid #d2d2d2; box-sizing:border-box; z-index:8;}
	.m_mypage .m_btn{display:inline-block; box-sizing:border-box;  width:50%; float:left; text-align:center; line-height:45px; vertical-align:sub; color:#777777; font-size:14px;}
	.m_mypage .m_btn.login{ border-right:1px solid #d2d2d2;}
	.m_mypage .m_btn span{margin-right:10px; vertical-align:sub;}

	


   }

@media screen and (max-width: 690px) {



/*** 모바일메뉴 ***/

}
   
   
@media screen and (max-width: 630px) {
	


}

@media screen and (max-width: 600px) {
	
	
}

@media screen and (max-width: 320px){
  .wrap{min-width:320px;}
  
 }















