@charset "utf-8";
.main_conts{width:100%; overflow:hidden; box-sizing:border-box; background:#f1f1f1;}
.main_conts .mc_in{max-width:1190px; margin:0 auto; box-sizing:border-box;padding-top:70px; padding-bottom:87px;}

/* .main_tit_box{width:100%; overflow:hidden; box-sizing:border-box; text-align:center;}
.main_tit{text-align:center; font-family: 'S-CoreDream-9Black'!important; font-size:30px; font-weight:bold; color:#555555; display:inline-block;}
.main_tit:last-child{margin-left:4px;}
.main_tit span{font-family: 'S-CoreDream-9Black'!important;} */

.m_col_wrap{width:100%; box-sizing:border-box; overflow:hidden; position:relative;}
.m_col_left{width:675px; box-sizing:border-box; float:left; height:auto;}
.m_col_right{width:calc(100% - 696px); box-sizing:border-box; float:left; margin-left:21px; height:auto;}
.space{width:100%; box-sizing:border-box; overflow:hidden; padding:20px 40px; border:1px solid #c5b9ef; background:#ffffff; border-radius:10px; position:relative;}
.space.s1{height:381px; }
.space.s1 .info{position:absolute; left:25px;  width:615px; }
.space.s1 .info .map{background:url(../img/)}
.mobile_map{display:none;}

.info{width:100%; box-sizing:border-box; overflow:hidden;}
.info img{width:100%;}
/* .pc_map{ box-sizing:border-box; margin:0 auto; width:98%!important;} */

.title_box{width:100%; overflow:hidden; z-index:9999999; padding-bottom:1px;}
.tit_01{color:#303030; font-size:18px; font-weight:bold;}
.btn_more{display:inline-block; font-size:14px; color:#777777;}

.main_table{width:100%; box-sizing:border-box;}
.main_table table{width:100%;}
.main_table table tr th, .main_table table tr td{}
.m_th, .m_td{display:inline-block; color:#565656; font-size:16px; line-height:32px;}
.m_th::before{display:inline-block; content:"·"; font-weight:bold; margin-right:10px;}
.m_th:hover, .m_td:hover{text-decoration: underline;}

.btn_logo{display:inline-block; width:177px; height:45px;}
.btn_logo img{width:100%;}
.txt_hash{font-size:14px; color:#565656;  border:1px solid #dcdcdc; height:27px; line-height:27px; box-sizing:border-box;}
.txt_hash span{color:#ab10e9; margin-right:5px;}

.space_3_4_mobile{display:none;}


.covered_img{background:url(../img/online_img.png) center no-repeat; background-size:cover;}

.space.s5{height:120px;}

/*** 슬라이더 ***/
/* mainvisual */

#visual_wrap {overflow:hidden; position:relative; width:100%; height:120px; z-index:1;}
#slider {position:absolute; top:0; left:0; width:100%;}
#slider ul.index_visual {position:relative; width:100%; height:120px; background: #ddd; }
#slider ul.index_visual li { width:100%;}


/* mainvisual controler */
#visual_wrap .visual_control_wrap {position:absolute; width:100%;bottom:5px; right:10px; text-align:center; z-index:10; background:rgba(0,0,0,0.3); width:100px;  border-radius:15px;}
#visual_wrap .visual_count { height:20px; display:inline-block; vertical-align: middle; z-index:10;}
#visual_wrap .visual_count a {width:10px; height:20px; display:inline-block; background:url("../img/btn_visual_off.png") no-repeat left center; margin: 0 3px;}
#visual_wrap .visual_count a span {position:absolute; top:-10000em; overflow:hidden; height:0px; width:0px;}
#visual_wrap .visual_count a.activeSlide {width:30px; height:20px; display:inline-block; background:url("../img/btn_visual_on.png") no-repeat left center;}
#visual_wrap .visual_control {display:inline-block; vertical-align: middle; width:20px; height:20px; z-index:5;}

/*** GNB ***/

@media screen and (max-width: 1086px) {
    .main_conts .mc_in{padding:40px 10px;}
    .main_tit{font-size:16px; line-height:24px; padding:0 0px; display:block;}
    .m_col_wrap{}
    .m_col_left{width:100%; float:unset;}
    .m_col_right{width:100%; float:unset; margin-left:0;}

    .space{padding:20px;}
    .space.s1{height:auto; background:#f8f7ee; padding:0; }
    .space.s1 .title_box{padding: 20px 20px 0 20px; box-sizing:border-box;}
    .space.s1 .info{position:relative; left:auto; width:auto; padding:10px;}
    .space.s1 .info img{width:100%;}
    .pc_map{display:none;}
    .pc_map_point{display:none;}
    img.mobile_map{display:block;box-sizing:border-box;}


    .space.s3{margin-top:20px!important; display:none;}
    .space.s4{margin-top:20px!important; display:none;}
    .space.s6{margin-top:20px!important;}

    .space_3_4_mobile{display:block; width:100%; overflow:hidden; box-sizing:border-box; margin-top:20px!important; font-size:0;}
    .space_3_4_mobile > div{float:left; width:calc(50% - 6px); box-sizing:border-box;}
    .space_3_4_mobile > div > a{display:inline-block; width:100%; }
    .space_3_4_mobile > div > a img{width:100%;}
    .space_3_4_mobile .right{margin-left:12px;}

    .m_th, .m_td{font-size:16px;}
    .m_th {width:245px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

    .txt_hash{font-size:12px;}

    
    
    /*** 슬라이더 ***/
    .s_img{display:inline-block; height:120px;}
    .s_img img{width:100%; height:100%; background-size:cover;}
    
}

@media screen and (max-width: 870px){
    /*** 팝업 ***/

}

@media screen and (max-width: 690px) {
    

    /*** 배너 ***/


    /*** 탭박스 ***/

    /* 상품 3개(주요상품) */


    /* 상품 4개(상품) */
    /* .conts_list{padding-top:20px; padding-bottom:20px; padding-left:10px; padding-right:10px; box-sizing:border-box;} */

    


}



























